.App {
  text-align: center;
  align-items: center;
}

.Application{
text-align: left;
background-color: lightcoral;
background-position: center;
align-items: center;
place-items: flex;
min-width: 20cm;
min-height: auto;
}